// 重置部分全局样式
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent
  }

  html {
    color: #333;
    font-family: 'Helvetica Neue', Tahoma, Arial, PingFangSC-Regular, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    max-width: 100%;
  }
  
  body {
    height: 100%;
    overflow: hidden;
  }

  body, button, dd, dl, ol, ul {
    margin: 0;
    padding: 0
  }

  ol, ul {
    list-style: none
  }

  a {
    outline: 0;
    color: inherit;
    text-decoration: none
  }

  a, img {
    -webkit-touch-callout: none
  }

  p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0;
  }

  button, input, select, textarea {
    outline: 0;
    border: none;
    font-size: inherit;
    font-family: inherit
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: 400
  }

  img {
    max-width: 100%
  }

  textarea {
    resize: none
  }

  select {
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
  }

  input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #fff inset;
    box-shadow: 0 0 0 100px #fff inset
  }
