// 样式变量
$color-white: #fff;
$color-theme: #3470FF;
$color-bg-selected: #F0473E;
$color-bg-tip: #FFC62C;
$color-bg-link: #426BF2;
$color-bg-content: #F4F5F7;
$color-bg-mark: #12172073;

$color-border-line: #F0F0F0;

$color-text-c1: #000000;
$color-text-c2: #333333;
$color-text-c3: #737373;
$color-text-c4: #BDBFC4;
$color-text-c5: #F0473E;

$font-size-44:44px;
$font-size-36:36px;
$font-size-34:34px;
$font-size-32:32px;
$font-size-30:30px;
$font-size-28:28px;
$font-size-26:26px;
$font-size-24:24px;
$font-size-22:22px;

$bar-title-height:64px;
$bar-tab-height:100px;
$padding-width:32px;
$content-width:686px;
